.jumbotron{
    margin: -20px 0px -40px 0px;
}
.section-card{
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 20px 20px 10px 20px;
    max-width: 800px;
}
.card:hover{
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
.section-title{
    line-height: 10px;
}
#avatar-image{
    width: 200px;
    height: 200px;
    display:block; 
    margin:0 auto;
    padding-bottom: 20px;
}
.progress-bar{
    background-color: #0084B8;
}
